@import url('./__close/popup__close.css');
@import url('./__container/popup__container.css');
@import url('./__save/popup__save.css');
@import url('./__text/popup__text.css');
@import url('./__title/popup__title.css');
@import url('./_photo/popup_photo.css');
.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}