.profile__text {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #FFFFFF;
    margin: 14px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 280px;
    justify-content: center;
}

@media screen and (min-width: 999px) {
    .profile__text {
        font-size: 18px;
        margin: 16px 0 0;
        max-width: 318px;
        justify-content: start;
    }
}