.button {
    opacity: 1;
    transition: opacity 0.2s linear;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.button_inactive {
  color: #B8B8B8;
  background: #EDEDED;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}