@import url('./__avatar/profile__avatar.css');
@import url('./__edit/profile__edit.css');
@import url('./__info/profile__info.css');
@import url('./__text/profile__text.css');
@import url('./__title/profile__title.css');
@import url('./__add/profile__add.css');
@import url('./__image/profile__image.css');
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 39px auto 0;
}

@media screen and (min-width: 1280px) {
    .profile {
        max-width: 882px;
        margin: 0 auto 51px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}