.element__caption {
    padding: 25px 15px 31px 21px;
    display: grid;
    grid-template-columns: 170px 21px;
    grid-template-rows: 23px;
    box-sizing: border-box;
    column-gap: 53px;
    align-items: center;
    background-color: #ffffff;
}