.popup__save {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 19px 36px 37px;
    border: none;
    background: #000000;
    display: block;
    width: 83%;
    height: 58px;
    border-radius: 2px;
}