@import url('./__logo/header__logo.css');
.header {
    width: 100vw;
    margin: 28px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 882px;
        margin: 45px auto 40px;
    }
}