@import url('./__logo/header__logo.css');
.header {
    width: 100vw;
    margin: 28px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 769px) {
    .header {
        width: 90vw;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        width: 80vw;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        width: 69vw;
        margin: 45px auto 40px;
    }
}