.profile__title {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
    min-width: 201px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 1280px) {
    .profile__title {
        font-size: 42px;
        max-width: 295px;
    }
}