.elementpopup__close {
    background-image: url('../../../images/Close\ Icon.svg');
    position: absolute;
    right: 110px;
    top: 78px;
    width: 47px;
    height: 47px;
    z-index: 10;
    background-size: cover;
}