.elements {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: 361px;
    grid-gap: 20px;
    max-width: 282px;
}

@media screen and (min-width: 1280px) {
    .elements {
        grid-template-columns: repeat(3, 282px);
        grid-template-rows: repeat(2, 361px);
        row-gap: 21px;
        column-gap: 18px;
        max-width: 882px;
    }
}