@import url('./__image/element__image.css');
@import url('./__delete/element__delete.css');
@import url('./__text/element__text.css');
@import url('./__like/element__like.css');
@import url('./__caption/element__caption.css');
@import url('./__likeN/element__likeN.css');
@import url('./__number/element__number.css');
.element {
    border-radius: 10px 10px;
    overflow: hidden;
    max-width: 282px;
    position: relative;
}