@import url('./__container/elementpopup__container.css');
@import url('./__image/elementpopup__image.css');
@import url('./__text/elementpopup__text.css');
@import url('./__close/elementpopup__close.css');
.elementpopup {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}